<tr id="data_<%= task.id %>">
  <td><%= task.name %></td>
  <td><%= raw task.description %></td>
  <td>
  <% if task.due_date <= Time.now.to_date %>
      <span style="color: #cb5a5e;"><%= task.due_date %></span>
    <% else %>
      <%= task.due_date %>
    <% end %>
  </td>
  <td><%= raw task.user_note %></td>
  <td><%= task.action_plan.name %></td>
  <td><%= link_to edit_scorers_scorer_task_path(task), remote: true do %>
		<button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</button>
    <% end %>
  </td>
</tr>