<div class="page-head">
  <div class="page-title">
    <h1>Chapters <small>scores</small></h1>
  </div>
  <div class="page-toolbar">
  </div>
</div>

<%= render partial: "layouts/breadcrumb" %>
<%= render partial: "layouts/portlet_header", locals: {header_color: "red", header_rows: "9", header_title: "Chapters"} %>

        <% @chapters.in_groups_of(4, false) do |group| %>
          <div class="row">
            <% group.each do |chapter| %>
              <div class="col-md-3">
                <%= link_to chapter_dashboard_managers_chapters_dashboards_path(chapter: chapter.id) do %>
                  <div id="scores_chapters_average_id<%= chapter.id %>" ></div>
                <% end %> 
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= render partial: "layouts/hospital_score_chart_3", locals: {chart_id: "scores_average_chapters_id", header_title: "Hospital Score"} %>

</div>

<%= render partial: "layouts/hospital_score_chart_12", locals: {chart_id: "scores_bars_chapters_id", header_title: "Hospital Scores (by chapters)"} %>

<%= javascript_tag do %>


high_gauge_single(-70, 3.3, 130, '2em', 350, '100%','65%', '#scores_average_chapters_id', '/managers/manager_dashboards.json', 'All', 'Hospital Score', 300000)

<% @chapters.each do |chapter| %>
high_gauge_collection(-50, 2.1, 100, '2em', 250, '100%','60%', '#scores_chapters_average_id<%= chapter.id %>', '/managers/chapters_dashboards.json', '<%= chapter.name %>', 300000)
<% end %>

high_column('All', '#scores_bars_chapters_id', '/managers/chapters_dashboards.json')

<% end %>