<%= simple_form_for(@department, remote: true) do |f| %>
  <%= f.error_notification %>
<ul class="errors" style="color: #f00;"></ul>
  <div class="form-inputs">
    <%= f.input :name, label: 'Name', placeholder: 'Department Name', hint: 'Max 255 characters.', required: true, autofocus: true %>
    <%= f.input :description, label: 'Description', placeholder: 'Department Description', required: true, as: :summernote %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn blue' %>
    <a id="cancel-form" class="btn btn-default">Cancel</a>
  </div>
<% end %>
