<%= simple_form_for(@user, remote: true) do |f| %>
  <%= f.error_notification %>
<ul class="errors" style="color: #f00;"></ul>
  <div class="form-inputs">
    <%= f.input :first_name, label: 'Name', placeholder: 'User First Name', hint: 'Max 255 characters.', required: true, autofocus: true %>
    <%= f.input :last_name, label: 'Name', placeholder: 'User Last Name', hint: 'Max 255 characters.', required: true %>
    <%= f.input :mobile, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn blue' %>
    <a id="cancel-form" class="btn btn-default">Cancel</a>
  </div>
<% end %>
