<tr id="data_<%= chapter.id %>">
  <td><%= chapter.name %></td>
  <td><%= raw chapter.description %></td>
  <td><%= link_to edit_managers_chapter_path(chapter), remote: true do %>
		<button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</button>
    <% end %>
  </td>
  <td><%= link_to chapter, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
  	<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete</button>
    <% end %>
  </td>
</tr>